.cantsee
	display none
.dongzuo
	animation pingyi 2s infinite
	font-family iconfont
	font-weight bold
	display inline-block
	font-size 30px
	padding-left 6px
.width980
	width 980px
	margin 0 auto
.navheader
	min-width 1000px
	background #242424
	line-height 60px
	.nav
		height 60px
		img
			float left
		.gocity
			float left
			width 40px
			height 60px
			padding 10px 0 10px 0px
			text-align center
			font-size 18px
			line-height 20px
			font-weight bold
			color #fe0
		.nav-place
			display inline-block
			color white
			margin 15px 0 0 3px
			.place
				float left
				padding 0 3px
				text-align center
				border 2px solid #fff
				border-radius 15px
				width 74px
				height 30px
				&:hover
					border 2px solid #fee648
					color #fee648
				a
					display block
					line-height 26px
					font-size 16px
			.current
				background #fee648
				color black
				border 2px solid #fee648
.m-message
	min-width 1000px
	.m-message-top
		height 460px
		background url(../image/1.png)
		background-position 50% 0
		.notone
			margin-top -4px
	.m-message-bottom
		height 130px
		background #3dac67
		margin-top -4px
		position relative
		padding-top 1px
		.m-message-bottom-context
			width 1000px
			margin -142px auto
			.gotoget
				width 230px
				margin-left 37.5%
				a
					display block
					width 230px
					line-height 38px
					height 54px
					background #fae90b
					color #e7153a
					border 2px #1e1c6f solid
					border-bottom 4px #1e1c6f solid
					border-radius 20px
					text-align center
					span
						display inline-block
						font-size 30px
						font-weight bold
						margin-top -2px
					i
						padding-left 0px
			.m-message-bottom-card
				margin-top 70px
				.card
					float  left
					width 188px
					height 123px
					margin-right 10px
					background-repeat no-repeat
					background-position 50% 50%
					color white
					a
						display block
						width 100%
						height 123px
						.one
							display block 
							font-size 24px
							font-weight bold
							margin 10px 0 0px 10px
						.two
							font-size 14px
							margin 0px 0 0px 10px
				.card1
					background url(../image/card1.jpg)
				.card2
					background url(../image/card2.jpg)
				.card3
					background url(../image/card3.jpg)
				.card4
					background url(../image/card4.jpg)
				.card5
					background url(../image/card5.jpg)
qianzi=#815ad8
.zise
	background qianzi
.lanzi
	background #6633da
.container
	min-width 1000px
	padding-bottom 40px
	.m-box
		padding-top 60px
		.m-box-hd
			height 93px
			text-align center
			.tit
				font-size 30px
				font-weight bold
				color white
				padding-top 10px
				line-height 30px
			.desc
				font-size 16px
				color #fe0
				line-height 16px
				margin-top 6px
		.bg1
			background url(../image/img/tit_01.jpg)
		.bg2
			background url(../image/img/tit_02.jpg)
		.bg3
			background url(../image/img/tit_03.jpg)
		.bg4
			background url(../image/img/tit_04.jpg)
		.bg5
			background url(../image/img/tit_05.jpg)
		.bg6
			background url(../image/img/tit_06.jpg)
		.bg7 
			background url(../image/img/freedom_hd.jpg)
			height 190px
		.huang
			background #e2b800
		.cheng
			background #ee9a50
		.lan
			background #4677ce
		.m-box-bd
			.m-tab
				height 52px
				.m-tab-top
					padding 10px
					height 52px
					width 980px
					a
						display inline-block
						float left
						width 478px
						height 52px
						line-height 52px
						font-size 18px
						font-weight bold
						text-align center
					.not-currentzi
						background #9369f0
						border 1px solid #4f1ebd
						color #4f1ebd
						&:hover
							background #4f1ebd
							color #fe0
					.not-currenthuang
						background #f7e16e
						border 1px solid #9b800b
						color #a16a08
						&:hover
							background #9b800b
							color #fe0
					.not-currentcheng
						background #fec27c
						border 1px solid #e76026
						color #e76026
						&:hover
							background #e76026
							color #f4e513
					.not-currentlan
						background #7bbdf7
						border 1px solid #13459b
						color #13459b
						&:hover
							background #13459b
							color #f4e513
					.currentzi
						background #4f1ebd
						color #fe0
					.currenthuang
						background #9b800b
						color #fe0
					.currentcheng
						background #e76026
						color #f4e513
					.currentlan
						background #13459b
						color #f4e513
					.left
						border-radius 8px 0 0 8px
						border-right none
					.right
						border-left none
						border-radius 0 8px 8px 0
				.center
					a
						width 320px
			.m-tab-bd
				ul
					padding-top 5px
					.tit,.desc
						white-space nowrap
						overflow hidden
						text-overflow ellipsis
					.item
						float left
						padding 10px
						width 244px
						height 286px
						position relative
						.pr-btn
							position absolute
							right 20px
							bottom 20px
							width 80px
							line-height 40px
							text-align center
							font-size 16px
							border-radius 5px
							color white
							background #ff3939
						img
							vertical-align middle
							transition transform .3s ease-in
						a
							&:hover img
								transform scale(1.05,1.05)
							&:hover .pr-btn
								color #ffde00
								background #e61818
						.item-tit
							width 224px
							height 150px
							overflow hidden
							img
								width 224px
								height 150px
							.tag
								position absolute
								width 68px
								height 68px
								top 20px
								right 20px
								border-radius 50%
								background #f23e4f
								text-align center
								font-size 14px
								line-height 20px
								
								.tag-hd
									font-size 14px
									color white
									padding-top 12px
								.tag-bd
									font-size 14px
									color #fff06e
									font-weight bold
						.item-cont
							background white
							width 224px
							height 117px
							padding 10px
							.tit
								font-size 16px
								font-weight bold
							.desc
								font-size 14px
							.item-cont-ft
								padding-top 8px
								.price
									line-height 24px
									height 24px
									color #ff3939
									.yuan
										display inline
										color #ff3939
										font-size 16px
									.num
										font-size 24px
								.del
									padding-top 4px
									color #666
									text-decoration line-through
									font-size 14px		
			.m-more
				height 87px
				padding 16px 0 36px 0
				position relative
				text-align center
				.line
					height 1px
					position absolute
					top 32px
					width 412px
					background rgba(0,0,0,.5)
				.line-l
					left 12px
				.line-r
					right 12px
				.more-youhui
					display block
					width 132px
					margin 0 auto
					line-height 34px
					border-radius 17px
					color white
					font-size 16px
					background #412d6d
.container
	.huiyuan
		.m-box-hd
			.tit
				padding-top 25px
		.freemdom-info
			background #491bb2
			.inner
				position relative
				border-radius 10px
				background #4574e8
				width 960px
				height 100px
				margin 0 auto
				.left
					float left
					padding 10px 0 0 20px
					height 90px
				.right
					float right
					padding 10px 0 0 20px
					height 90px
					margin-right 20px
				.l
					float left
					line-height 88px
					font-size 88px
					font-weight bold
					font-family arial
					color white
				.r
					float left
					.tit
						padding-top 5px
						font-size 24px
						font-weight bold
						color white
					.desc
						color #f9db00
						margin-top -16px
						.txt
							font-size 36px
							font-weight bold
							.b
								vertical-align middle
								font-size 46px
								font-weight bold
								font-family Impact
				a
					position relative
					float left
					margin 2px 0 0 20px
					width 86px
					height 75px
					background #fae90b
					padding-right 10px
					color #e7153a
					border-radius 8px
					font-weight bold
					.btn-txt
						display inline-block
						line-height 26px
						width 63px
						padding 11px 0 0 12px
						font-size 24px
					i
						float right
						margin 25px 0 0 -20px
						font-family iconfont
						font-size 20px
						font-weight bold
				.line
					position absolute
					top -1px
					left 50%
					i
						display block
						height 8px
						background #491bb2
						margin-top 3px
						width 3px
				.titlef
					position absolute
					left 50%
					width 112px
					line-height 26px
					text-align center
					background #491bb2
					border-radius 14px
					font-size 18px
					font-weight bold
					color white
					margin-left -56px
		.freemdom-ft
			height 200px
			background url(../image/img/freedom_ft.jpg)
			.freedom-tit
				line-height 65px
				color #fe0
				white-space nowrap
				text-align center
				font-size 14px
				a
					color #4af6ff
					font-size 14px

.r-nav
	position absolute
	right 10px
	top 420px
	width 116px
	padding-top 56px
	font-family 'Microsoft Yahei'
	.r-nav-hd
		width 120px
		height 120px
		background url(../image/img/sprite2.png) no-repeat 0 0
	.r-nav-bd
		padding 0px 10px 0
		background #8839f2
		li
			border-bottom 1px solid #9550e7
			a
				text-align center
				display block
				padding 6px 0
				font-size 14px
				line-height 20px
				color white
				&:hover
					color #fdff44
			.active
				color #fdff44	
	.r-nav-ft
		height 52px
		a
			display block
			line-height 52px
			margin-top -1px
			border-radius 0 0 60px 60px
			background #7939cf
			color white
			text-align center
			cursor pointer
			span
				font-size 20px
				font-weight bold
				&:hover
					color #fdff44
			.active
				color #fdff44
.fixed1
	position fixed
	top -10px
	left 50%
	transform translateX(-50%)
	z-index 10
.fixed2
	position fixed
	right 10px
	top 40px
@keyframes pingyi
	to
		transform translateX(6px)








